<%- include('./templates/header') %>

<% if(errors.length > 0) { %>

<% errors.forEach((e) => { %>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error!</strong> <%= e %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<% }) %>

<% } %>
<div class="card mx-auto mt-5 reg-card">
  <h1 class="card-header reg-card__header">REGISTRO</h1>
  <form class="mx-auto mt-3 mb-3 card-body" action="/registration" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electronico</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contrasena</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="mb-3">
      <label for="repeat-password" class="form-label">Repita la contrasena</label>
      <input type="password" class="form-control" id="repeat-password" name="passwordTwo">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

<%- include('./templates/footer') %>
