.reg-card, .log-card {
    width: 30%;
}

.reg-card__header, .log-card__header {
    text-align: center;
}

.reg-card__body, .log-card__body {
    width: 80%;
}

.all-card {
    width: 15%;
    display: flex;
    margin: 20px;
    flex-direction: row;
}

.all-card__body {
    position: relative;
}

.all-card__buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.all-card__button {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    align-items: center;
}